allow vold proc_touchpanel:dir r_dir_perms;
allow vold { persist_file logd }:dir { getattr open read };
allow vold storage_stub_file:dir read;
allow vold unlabeled:filesystem mount;
